
/** 
 * This applies only to the block admin page. Do not place general block
 * styles in here.
 */

#blocks td.region {
  font-weight: bold;
}
#blocks td.block {
  padding-left: 1.5em;
}
.block-region {
  color: #000;
  background: #ff6;
  border: 1px dotted #555;
  margin: -1px;
  padding: .3em 1em;
}
