/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/overrides/comment.css */
.indented {
  margin-left: 25px;
}
.skip-links .next-link a:focus {
  background: url(../images/bgr.png) repeat;
  font-size: 1.2em;
}
.skip-links {
  position: relative;
  float: right;
  clear: both;
}
#comments .container {
  position: relative;
  margin: 1em 0 5em;
}
.comment {
  position: relative;
  margin: 0;
  padding: .5em 1em 1.5em;
  border-left: 1px dotted #666;
}
#comments .container .comment .title {
  border-bottom: 1px dotted #666;
  float: left;
  clear: both;
  margin-left: -.6em;
  padding-left: .5em;
}
.comment .content {
  clear: both;
}
.comment .submitted {
  clear: both;
}
.comment .picture {
  position: relative;
  float: right;
  clear: both;
}
#comment-controls {
  position: relative;
  padding: 1em 0;
}
#comment-controls .title {
  text-align: center;
  margin: 0 0 .4em;
}
#comment-controls .description {
  margin: .5em;
  font-style: italic;
}
