
/**
 * This style sheet only applies to search results. Since
 * that's the only time it's included, only include styles
 * for the results and not the search form. Look inside
 * lumen.css the rest of the search styles.
 *
 * To-do: Move the styles back here when fixed in core.
 */

.search-results p {
  margin-top: 0;
}
.search-results dt {
  font-size: 1.1em;
}
.search-results dd {
  margin-bottom: 1em;
}
.search-results .search-info {
  font-size: 0.85em;
}
