/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/overrides/system.css */

/*
** HTML elements
*/
th.active img {
  display: inline;
}
tr.even, tr.odd {
  border-bottom: 1px solid #aaa;
  padding: 0.2em 0.6em;
}
td.active {
  background: url(../images/bgll.png) repeat;
}
tbody {
  border-top: 1px solid #ccc;
}
tbody th {
  border-bottom: 1px solid #ccc;
}
thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 1px solid #999;
}
/*
** Other common styles
*/
.breadcrumb {
  padding: 0 1em;
  margin: 0;
  position: relative;
  float: left;
  clear: right;
  z-index: 1;
  border-bottom: 1px solid #333;
}
.breadcrumb a:link, .breadcrumb a:visited{
  color: #000;
}
.error {
  color: #900;
}
.warning {
  color: #C60;
}
.ok {
  background: #363;
}
.item-list .icon {
  color: #555;
  float: right;
  padding-left: 0.25em;
  clear: right;
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 .75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 .25em .5em;
  padding: 0;
  list-style: disc;
}
.form-item {
  margin: .5em;
  display: block;
}
tr.odd .form-item, tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
tr.merge-down, tr.merge-down td, tr.merge-down th {
  border-bottom-width: 0 !important;
}
tr.merge-up, tr.merge-up td, tr.merge-up th {
  border-top-width: 0 !important;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 2px solid red;
}
#search-form input.error {
  border: none;
  color: red;
}
.form-item .description {
  font-style: italic;
  font-size: .9em;
  margin-bottom: 1em;
}
.form-item label {
  display: block;
  font-weight: bold;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
}
.form-checkboxes, .form-radios {
  margin: .4em 0;
}
.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.marker, .form-required {
  color: #f00;
}
.more-link {
  text-align: right;
}
.more-help-link {
  font-size: 0.9em;
  text-align: right;
  display: block;
  width: 100%;
  margin: .5em;
}
.nowrap {
  white-space: nowrap;
}
.pager {
  clear: both;
  text-align: center;
  margin: 1em;
}
.pager a, .pager strong.pager-current {
  padding: 0.5em;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 8em;
}
dl.multiselect dt, dl.multiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0;
  margin: 0 1em 0 0;
}
dl.multiselect .form-item {
  height: 1.75em;
  margin: 0;
}
/*
** Inline items (need to override above)
*/
.container-inline div, .container-inline label {
  display: inline;
}
/*
** Menus
*/
ul.menu {
  list-style: none;
  padding-left: 1em;
  text-align:left;
}
ul.menu li {
  margin: -1px 0 0 0.5em;
  list-style: url(../images/link-pagea.gif);
}
ul.menu li a {
  text-decoration: none;
}
ul.menu li a.active {
  font-weight: bold;
  font-style: oblique;
}
li.expanded {
  list-style-type: circle;
  list-style: url(../images/link-page-multi2b.gif);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style: url(../images/link-page-multi2a.gif);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../images/menu-leaf.png);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #d30;
}
td.menu-disabled, td.menu-disabled a {
  color: #888;
}
ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  list-style-type: none;
  border-left: 1px dotted #000;
  margin-left: .2em;
  padding: 0 0 0 .5em;
}
ul.links li.first {
  border: none;
  padding-left: 0;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}
/*
** Tab navigation
*/
ul.primary, ul.secondary {
  position: relative;
  float: left;
  z-index: 0;
  font-size: .9em;
  margin: 0 1em -1px;
  padding: 0 .4em;
  overflow: visible;
  border: 1px solid #333;
  list-style: none;
}
ul.primary li, ul.secondary li {
  background: url(../images/bgll.png) repeat;
  float: left;
  padding: .1em 0;
  margin: 0 -1px 0 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
}
ul.primary li.active, ul.secondary li.active {
  background: url(../images/bgl.png) repeat;
  border-left-style: solid;
  border-right-style: solid;
}
ul.primary li:hover, ul.secondary li:hover {
  background: url(../images/bgl.png) repeat;
}
ul.primary li a, ul.secondary li a {
  display: block;
  color: #555;
  padding: 0 .7em;
  text-decoration: none;
  border: none;
}
ul.primary li.active a, ul.secondary li.active a {
  color: #000;
  background: url(../images/menu-expanded.png) no-repeat center bottom;
  padding-bottom: 9px;
  margin-bottom: -9px;
}
ul.primary li a:hover, ul.secondary li a:hover {
  color: #700;
}
ul.secondary {
  font-size: .9em;
  margin: .2em 1em -.1em 0;
  padding: 0 .2em;
  border-color: #555;
  border-style: dotted;
}
ul.secondary li {
  padding: 0;
  margin: 0 -1px 0 0;
}
ul.secondary li.active a {
  background: url(../images/point-dd.gif) no-repeat center bottom;
  padding-bottom: 4px;
  margin-bottom: -4px;
}
/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid #777;
  overflow: hidden;
  z-index: 100;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color: #000;
}
#autocomplete li {
  white-space: pre;
  padding: 0 .7em;
  cursor: default;
  background: url(../images/falloff_b.png) repeat-x left 40%;
}
#autocomplete li.selected {
  color: #d30;
  background: url(../images/falloff_b.png) repeat-x left 60%;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../images/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}
/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 15px;
  background: url(../images/menu-expanded.png) 5px 75% no-repeat;
}
html.js fieldset.collapsed legend a {
  background-image: url(../images/menu-collapsed.png);
  background-position: 5px 50%;
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}
/*
** Resizable text areas
*/
.resizable-textarea {
  width: 95%;
}
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #eee url(../images/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  width: 100%;
  display: block;
}
/*
** Progressbar styles
*/
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #fff url(../images/progress.gif);
  border: 1px solid #00375a;
  height: 1.5em;
  margin-top: 0.2em;
}
.progress .filled {
  background: #0072b9;
  height: 1em;
  border-bottom: 0.5em solid #004a73;
  width: 0%;
}
.progress .percentage {
  float: right;
}
/*
** Formatting for welcome page
*/
#first-time strong {
  display: block;
  padding: 1.5em 0 .5em;
}

/*
** To be used with tableselect.js
*/
tr.selected td {
  background: #ffc;
}
