
/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/base.css */

/* @group general tags & classes */
/* global reset */
* {
  padding: 0;
  margin: 0;
}
p, pre, blockquote, label, ul, ol, dl, fieldset, address {
  margin: 1em;
}
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  padding-right: 1em;
}
dt {
}
dd {
  font-style: italic;
  margin: .3em .5em 1em 1.5em;
}
td {
  padding: .2em .5em;
}
hr {
  height: 1px;
  border: none;
}
.node:hover a, .comment:hover a, p:hover a, p:hover+p a, li:hover a, dd:hover a, tr:hover a, colgroup:hover a, col:hover a {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.main a:visited, .side a:visited {
  padding-right: 10px;
  background: url(../images/check.gif) no-repeat right center;
}
a:hover {
  text-decoration: underline;
}
a:active {
/* mouse down */
}
a:focus {
/* Remove outlines. */
  outline: none;
}
.title {
  font-weight: normal;
}
.logo {
  border: 0;
  vertical-align: top;
}
.site-name {
  font-size: 2em;
  font-weight: normal;
  text-shadow: #333 1px 1px 3px;
  margin: 0;
  display: inline;
}
.site-name a {
  text-decoration: none;
  color: #000;
}
.site-slogan {
  display: inline;
  white-space: nowrap;
}
.messages {
  font-size: 1.1em;
  font-style: italic;
  margin: 1em;
}
.help {
  padding: 0 1em;
  margin: 1em 0;
  background: url(../images/huh.gif) no-repeat  top center;
}
.feed-icon {
  margin: 0 0 2em 50%;
  float: left;
}
.picture img {
  float: right;
  padding: .2em;
  margin: .2em 0 .2em .5em;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.clear {
  clear: both;
}
/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-block {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */

/* @end */
/* @group fonts & type control */
em, i, abbr, acronym, blockquote, q, .messages, .breadcrumb, .title, .site-name, .first-c {
  font-family: Georgia, serif;
  font-size-adjust: .5;
}
body, ul.primary a, ul.secondary a {
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: .58;
}
pre, code {
  font-family: Profontx, Profont, "Andale Mono", Monoco, mono-space;
  font-size-adjust: .54;
  font-size: .8em;
}
/* first character (lower case) */
.first-c {
  font-size: 3.5em;
  vertical-align: -.1em;
  text-transform: lowercase;
}
/* individual first letters for kerning */
.fc-k, .fc-r, .fc-v, .fc-y {
  letter-spacing: -.2ex;
}
.fc-f, .fc-g, .fc-t, .fc-u, .fc-w, .fc-x {
  letter-spacing: -.1ex;
}
.fc-a, .fc-d, .fc-h, .fc-i, .fc-j, .fc-l, .fc-m, .fc-n, .fc-q {
  letter-spacing: -.05ex;
}
.fc-e {
  letter-spacing: .05ex;
}
/* @end */
/* @group primary & secondary links */
.primary-links {
  position: relative;
  float: right;
  right: 3%;
  z-index: 1;
}
.primary-links .site-nav, .primary-links .corners * {
  background: url(../images/bgl.png) repeat;
}
.secondary-links .primary-nav, .secondary-links .t-corner * {
  background: url(../images/bgll.png) repeat;
}
.primary-links .site-nav {
  padding: 0 1em;
}
.primary-links .secondary-nav {
  font-style: italic;
}
.primary-links .active {
  text-decoration: none;
  font-style: italic;
}
/* @end */
/* @group column view */
/* @end */
/* @group search */
#search-theme-form {
  position: relative;
  float: right;
  z-index: 1;
  right: 2%;
}
#search-block-form, #search-form {
  position: relative;
  overflow: visible;
}
#search-form fieldset {
  position: relative;
}
#search-form .search-advanced, #search-form .search-advanced .criterion .form-item {
  position: relative;
  clear: both;
}
.search-advanced .criterion {
  float: left;
  width: 49%;
  padding-left: 1%;
}
.search-advanced #edit-or, .search-advanced #edit-phrase, .search-advanced #edit-negative, #edit-keys {
  width: 25em;
}
#criterion-category {
  position: relative;
  float: right;
}
#criterion-category .form-select {
  width: 99%;
  height: 26em;
}
.search-advanced .action {
  float: left;
  clear: left;
  margin: 1em;
}
.sbox-l  {
  background: url(../images/srch.png) no-repeat 0 -19px;
  float: left;
  width: 19px;
  height: 19px;
}
.sbox-r  {
  background: url(../images/srch.png) no-repeat right -19px;
  float: left;
  width: 19px;
  height: 19px;
}
.can-clear  {
  background-position: right -38px;
}
.sbox {
  background: url(../images/srch.png) repeat-x 0 0;
  float: left;
  height: 19px;
}
.sbox input.place-holder {
  color: gray;
}
.sbox input {
  background: transparent;
  border: 0;
  height: 13px;
  padding: 3px;
  font: 11px/13px arial;
}
/* @end */
/* @group decore */
.corners {
  display: block;
}
.corners * {
  display: block;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}
.c1 {
  margin: 0 4px;
}
.c2 {
  margin: 0 2px;
}
.c3 {
  margin: 0 1px;
  height: 2px;
}
.cs {
  margin: 0 1px;
}
.falloff-t {
  position: absolute;
  top: 0;
  left: 0;
  height: 149px;
  width: 100%;
  z-index: 1;
}
.falloff-l {
  position: absolute;
  top: 0;
  left: 0;
  width: 149px;
  height: 100%;
  z-index: 1;
}
.falloff-r {
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 100%;
  z-index: 1;
}
.falloff-b {
  position: relative;
  height: 149px;
  width: 100%;
  margin-top: -149px;
  float: left;
  clear: both;
  z-index: 1;
}
/* @end */
/* @group meta & links */
.meta {
  font-size: .9em;
}
.meta .term-links {
  margin-left: 1em;
}
.node-teaser .meta {
  margin: .2em 0 0;
}
.node-teaser ul.node-links {
  width: 47em;
}
ul.node-links li.node_read_more {
  float: right;
  border: none;
  background: url(../images/ar1r.gif) no-repeat left center;
  padding-left: 12px;
}
/* @end */
/* @group node & comments */
.node {
  padding: 0 2% 3.5em;
  position: relative;
}
.node-content, .comment-content {
  margin: 1em 0 .5em;
}
.node p {
  width: 47em;
  max-width: 96%;
  margin: 1em;
  line-height: 1.5em;
  word-spacing: .1em;
  overflow: visible;
}
.node li.node-links {
  width: 50em;
  max-width: 96%;
  margin: 0 0 .7em;
  line-height: 1.4em;
}
.node img.preview {
  float: right;
  margin: .5em 1em .5em .5em;
}
/* @end */
/* @group page specific styles */
.page-admin table {
  width: 99%;
}
/* @end */