
/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/colors.css */

/* @group general tags & classes */
body {
  color: #fff;
  background: #282828;
}
fieldset, .screenshot {
  border: 1px solid #777;
}
th {
  border-bottom: 3px solid #ccc;
}
hr {
  background: #333;
}
.messages {
  color: #036;
}
.help {
  color: #333;
}
.picture img, .help {
  border: 1px solid #555;
}
.first-c {
  color: #d62f00;
  text-shadow: #555 1px 1px 2px;
}
/* @end */
/* @group links */
.main a {
  border-bottom: 1px dotted #888;
}
a:link {
  color: #000;
}
a:visited {
  color: #555;
}
a:hover {
  color: #d30;
}
.active-trail > a {
  color: #c20;
}
.side a:visited {
  color: #999;
}
.side a:hover {
  color: #f60;
}
/* @end */
/* @group sections */
#page-bounds {
  color: #000;
  background: #eee;
}
#site-header {
}
#page-header {
  border-bottom: 1px solid #333;
}
#page-header h1.title, .title {
  text-shadow: #555 .1em .1em .1em;
}
/* @end */
/* @group decore */
.falloff-t {
  background: url(../images/falloff-t.png) repeat-x;
}
.falloff-l {
  background: url(../images/falloff-l.png) repeat-y;
}
.falloff-r {
  background: url(../images/falloff-r.png) repeat-y;
}
.falloff-b {
  background: url(../images/falloff-b.png) repeat-x;
}
/* @end */
