/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/columns.css */

.column-view a {
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: .58;
}
.column-view {
  width: 100%;
  position: relative;
  margin: 1em auto;
  padding: .5em 0;
  overflow: hidden;
  background: url(../images/bgll.png) repeat;
}
.column-view ul {
  height: 11em;
  float: left;
  overflow: auto;
  border: 1px solid #666;
  padding: 0;
  margin: 0 -1px;
  background: url(../images/bgl.png) repeat;
}
.column-view ul li {
  list-style-type: none;
  width: auto;
  max-width: none;
  line-height: 1.3em;
}
.column-view li.has-child {
  background: url(../images/ar3r.png) no-repeat right center;
}
.column-view li.active {
  background: url(../images/ar4r.png) no-repeat right center;
  border-top: 1px dotted #555;
  border-bottom: 1px dotted #555;
  margin: -1px 0;
  font-style: oblique;
}
.column-view a {
  display: block;
  text-decoration: none !important;
  padding: .1em 4% 0;
}
.column-view a:hover {
  background: url(../images/falloff-t.png) repeat-x 0 75%;
}
.column-view a.active:after {
  content: ' *';
}
.column-view li.focus a {
  background: url(../images/falloff-b.png) repeat-x 0 37%;
  font-style: oblique;
}