/* fix dimensional bug. */
#page-bounds {
  height: 1%;
  overflow: hidden;
}
/* Load alpha from transparent PNG's. */
/*
img {
  background-image: expression(
    this.runtimeStyle.backgroundImage = "none",
    this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
    this.src = "/themes/lumen/images/blank.gif"
  );
}
*/

#falloff_r, #falloff_l {
  padding-bottom: 9999999px;
  margin-bottom: -9999999px;
}

/* Load background PNG's. */
/*
#falloff_t {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/lumen/images/falloff_t.png', sizingMethod='scale');
}
#falloff_r {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/lumen/images/falloff_r.png', sizingMethod='scale');
}
#falloff_b {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/lumen/images/falloff_b.png', sizingMethod='scale');
}
#falloff_l {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/themes/lumen/images/falloff_l.png', sizingMethod='scale');
}
*/

