
/* @override http://localhost/projects/drupal5dev/sites/all/themes/lumen/styles/layout.css */

/* normalize 1em to 10px for most browsers */
body {
  font-size: 62.5%;
}
#page-bounds {
  font-size: 1.2em;
  position: relative;
  width: 66em;
  min-width: 33.33em;
  max-width: 100%;
  margin: 0 auto;
}
.body-layout-right #page-bounds, .body-layout-left #page-bounds {
  width: 70em;
}
.body-admin #page-bounds {
  width: 80em;
}
/* @group site header */
#site-header {
  position: relative;
  z-index: 5;
  padding: 1em 0 0;
  margin: 0 0 .5em;
}
#site-id {
  position: relative;
  left: 2%;
  z-index: 1;
  float: left;
}
/* @end */
/* @group mid region */
#mid-region {
  position: relative;
  clear: both;
  width: 100%;
  z-index: 5;
}
/* @end */
/* @group main */
#main {
  position: relative;
  float: left;
  width: 94%;
  min-height: 43em;
  margin: 0 3%;
  z-index: 5;
  /* prevent IE double float margin */
  display: inline;
}
.page-layout-right #main {
  width: 70%;
  margin: 0 2%;
}
#page-header {
  padding-top: 1.4em;
  padding-left: 3%;
  margin-right: -3%;
  margin-left: -3%;
  margin-bottom: .5em;
}
#page-header h1.title {
  font-weight: normal;
  font-size: 2em;
  margin: -.4em 0 -.2em;
  float: left;
}
/* @end */
/* @group node & comment block regions */
.node .block, .block-node-region {
  background: white;
  float: right;
}
.block-footer-region, #comments .block {
  float: left;
  background: blue;
}
/* @end */
/* @group side bars */
.side .container .title {
  font-size: 1.2em;
  width: auto;
}
#side-left {
  margin: 0;
  display: none;
}
#side-right {
  float: left;
  width: 26%;
  margin: 0;
}
.side {
  position: relative;
  z-index: 5;
}
.side .container {
  padding: .5em 1em;
  overflow: hidden;
}
.side .corners *, .side .container {
  background: url(../images/bgll.png) repeat;
}
.side .item-list ul li {
  list-style: none;
}
.side a {
  text-decoration: none;
}
/* @end */
/* @group footers */
#site-footer {
  position: relative;
  z-index: 2;
  clear: both;
  padding: 2em 0;
}
#footer-message {
  padding-top: .5em;
  text-align: center;
}
/* @end */
